/******************************************************************
Site Name: Slimleren.nl
Author: Gideon Heilbron

Stylesheet: Application
******************************************************************/
/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);
/* line 22, ../scss/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 32, ../scss/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 41, ../scss/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
/* line 52, ../scss/_normalize.scss */
[hidden],
template {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 66, ../scss/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 76, ../scss/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 88, ../scss/_normalize.scss */
a {
  background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 96, ../scss/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 105, ../scss/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 118, ../scss/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 127, ../scss/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 136, ../scss/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 144, ../scss/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 152, ../scss/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 162, ../scss/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 174, ../scss/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 183, ../scss/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
/* line 191, ../scss/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 199, ../scss/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 208, ../scss/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 215, ../scss/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 219, ../scss/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 231, ../scss/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 239, ../scss/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 251, ../scss/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 263, ../scss/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 274, ../scss/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 288, ../scss/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 300, ../scss/_normalize.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 312, ../scss/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 327, ../scss/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 337, ../scss/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 347, ../scss/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 358, ../scss/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 371, ../scss/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 380, ../scss/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 390, ../scss/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 403, ../scss/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/******************************************************************
CUSTOMIZED RESET VALUES
I added these extra styles as a more personalized reset. Feel free
to remove them if you like or add your own. If you want to update
the normalize styles, make sure to edit from this point up.
******************************************************************/
/* line 416, ../scss/_normalize.scss */
p {
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

/* line 423, ../scss/_normalize.scss */
b, strong, .strong {
  font-weight: bold;
}

/* line 425, ../scss/_normalize.scss */
dfn, em, .em {
  font-style: italic;
}

/* line 427, ../scss/_normalize.scss */
small, .small {
  font-size: 75%;
}

/* line 429, ../scss/_normalize.scss */
ul, ol {
  padding: 0;
  list-style-type: none;
}

/* line 434, ../scss/_normalize.scss */
dd {
  margin: 0;
}

/* line 440, ../scss/_normalize.scss */
.sidebar ul,
.sidebar ol,
.commentlist {
  list-style: none;
}

/* line 16, ../scss/application.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 19, ../scss/application.scss */
.wrap {
  max-width: 800px;
  margin: 0 auto;
}

/* line 23, ../scss/application.scss */
body {
  padding-top: 50px;
  background-color: #F8F8F8;
}

/* line 27, ../scss/application.scss */
.avatar {
  border-radius: 100px;
}

/* line 30, ../scss/application.scss */
.icon {
  display: inline-block;
  background-repeat: no-repeat;
}

/* line 34, ../scss/application.scss */
.icon-user {
  width: 14px;
  height: 14px;
  background-image: url(/images/icon-user.png);
}

/* line 39, ../scss/application.scss */
.icon-chat {
  width: 18px;
  height: 14px;
  background-image: url(/images/icon-chat.png);
}

/* line 44, ../scss/application.scss */
.icon-thumb {
  width: 15px;
  height: 17px;
  background-image: url(/images/icon-thumb.png);
}

/* line 49, ../scss/application.scss */
#students {
  margin: 0;
  text-align: center;
}
/* line 55, ../scss/application.scss */
#students.loaded li {
  top: 0;
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
/* line 61, ../scss/application.scss */
#students.loaded .stats,
#students.loaded footer {
  opacity: 1;
}
/* line 66, ../scss/application.scss */
#students.loaded .graph .bar[data-progress="60"] .bar-inner {
  width: 60%;
}
/* line 69, ../scss/application.scss */
#students.loaded .graph .bar[data-progress="80"] .bar-inner {
  width: 80%;
}
/* line 74, ../scss/application.scss */
#students li {
  opacity: 0;
  position: relative;
  display: inline-block;
  width: 270px;
  padding: 20px 30px;
  margin: 0 25px;
  border-radius: 5px;
  border: 1px solid #EEEEEE;
  text-align: left;
  background-color: white;
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-box-shadow: 0 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 0 transparent;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: opacity 900ms ease-in-out, -webkit-transform 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55), box-shadow 400ms ease-in-out;
  -moz-transition: opacity 900ms ease-in-out, -moz-transform 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55), box-shadow 400ms ease-in-out;
  -o-transition: opacity 900ms ease-in-out, -o-transform 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55), box-shadow 400ms ease-in-out;
  transition: opacity 900ms ease-in-out, transform 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55), box-shadow 400ms ease-in-out;
}
/* line 89, ../scss/application.scss */
#students li:hover {
  -webkit-box-shadow: 0 0px 15px 0 #dae9ee;
  -moz-box-shadow: 0 0px 15px 0 #dae9ee;
  box-shadow: 0 0px 15px 0 #dae9ee;
}
/* line 92, ../scss/application.scss */
#students li:hover .avatar {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
/* line 97, ../scss/application.scss */
#students .profile {
  text-align: center;
}
/* line 100, ../scss/application.scss */
#students .profile.success .avatar {
  border-color: #75cb27;
}
/* line 103, ../scss/application.scss */
#students .profile.warning .avatar {
  border-color: #e6401b;
}
/* line 106, ../scss/application.scss */
#students .profile .avatar {
  display: inline-block;
  width: 120px;
  border: 5px solid transparent;
  -webkit-transform: scale(0.95, 0.95);
  -moz-transform: scale(0.95, 0.95);
  -ms-transform: scale(0.95, 0.95);
  -o-transform: scale(0.95, 0.95);
  transform: scale(0.95, 0.95);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  -moz-transition: -moz-transform 300ms ease-in-out;
  -o-transition: -o-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
}
/* line 113, ../scss/application.scss */
#students .profile h3 {
  color: #3bbceb;
  font-size: 24px;
  font-weight: 300;
}
/* line 119, ../scss/application.scss */
#students .stats {
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in-out;
  -webkit-transition-delay: 400ms;
  -moz-transition: opacity 400ms ease-in-out 400ms;
  -o-transition: opacity 400ms ease-in-out 400ms;
  transition: opacity 400ms ease-in-out 400ms;
}
/* line 123, ../scss/application.scss */
#students .stats small {
  display: block;
  font-size: 11px;
  color: #B7B2B2;
}
/* line 129, ../scss/application.scss */
#students .stats .recent,
#students .stats .avarage {
  overflow: hidden;
  margin: 0 5px;
  font-size: 40px;
  text-align: center;
}
/* line 135, ../scss/application.scss */
#students .stats .recent {
  float: left;
}
/* line 138, ../scss/application.scss */
#students .stats .avarage {
  float: right;
}
/* line 142, ../scss/application.scss */
#students .graph {
  overflow: hidden;
  float: left;
  width: 100%;
  margin: 30px 0 20px;
}
/* line 148, ../scss/application.scss */
#students .graph small {
  color: black;
  margin-bottom: 10px;
}
/* line 152, ../scss/application.scss */
#students .graph .bar {
  overflow: hidden;
  width: 100%;
  height: 6px;
  border-radius: 6px;
  background-color: #1D6683;
}
/* line 159, ../scss/application.scss */
#students .graph .bar-inner {
  width: 0;
  -webkit-transition: width 600ms ease-in-out;
  -webkit-transition-delay: 900ms;
  -moz-transition: width 600ms ease-in-out 900ms;
  -o-transition: width 600ms ease-in-out 900ms;
  transition: width 600ms ease-in-out 900ms;
}
/* line 163, ../scss/application.scss */
#students .graph .bar-inner {
  display: block;
  height: 6px;
  background-color: #3bbceb;
}
/* line 169, ../scss/application.scss */
#students footer {
  opacity: 0;
  overflow: hidden;
  float: left;
  -webkit-transition: opacity 400ms ease-in-out;
  -webkit-transition-delay: 700ms;
  -moz-transition: opacity 400ms ease-in-out 700ms;
  -o-transition: opacity 400ms ease-in-out 700ms;
  transition: opacity 400ms ease-in-out 700ms;
}
/* line 175, ../scss/application.scss */
#students footer a {
  display: block;
  color: #B7B2B2;
  font-size: 14px;
  text-decoration: none;
  margin: 10px 0;
  -webkit-transition: color 200ms ease-in-out;
  -moz-transition: color 200ms ease-in-out;
  -o-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}
/* line 183, ../scss/application.scss */
#students footer a:hover {
  color: #3bbceb;
}
/* line 187, ../scss/application.scss */
#students footer .icon {
  width: 18px;
  margin-right: 10px;
}
