/******************************************************************
Site Name: Slimleren.nl
Author: Gideon Heilbron

Stylesheet: Application
******************************************************************/

@import "compass";
@import "_normalize";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);

$color-notice: #3BBCEB;
$color-warning: #E6401B;
$color-success: #75CB27;

* {
  @include box-sizing(border-box);
}
.wrap {
  max-width: 800px;
  margin: 0 auto;
}
body {
  padding-top: 50px;
  background-color: #F8F8F8;
}
.avatar {
  border-radius: 100px;
}
.icon {
  display: inline-block;
  background-repeat: no-repeat;
}
.icon-user {
  width: 14px;
  height: 14px;
  background-image: url(/images/icon-user.png);
}
.icon-chat {
  width: 18px;
  height: 14px;
  background-image: url(/images/icon-chat.png);
}
.icon-thumb {
  width: 15px;
  height: 17px;
  background-image: url(/images/icon-thumb.png);
}
#students {
  margin: 0;
  text-align: center;

  &.loaded {

    li {
      top: 0;
      opacity: 1;
      @include scale(1, 1);
    }
    .stats,
    footer {
      opacity: 1;
    }
    .graph {

      .bar[data-progress="60"] .bar-inner {
        width: 60%;
      }
      .bar[data-progress="80"] .bar-inner {
        width: 80%;
      } 
    }
  }
  li {
    opacity: 0;
    position: relative;
    display: inline-block;
    width: 270px;
    padding: 20px 30px;
    margin: 0 25px;
    border-radius: 5px;
    border: 1px solid #EEEEEE;
    text-align: left;
    background-color: white;
    @include scale(0, 0);
    @include box-shadow(0 0 0 0 transparent);
    @include transition(opacity 900ms ease-in-out, transform 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55), box-shadow 400ms ease-in-out);

    &:hover {
      @include box-shadow(0 0px 15px 0 #DAE9EE);

      .avatar {
        @include scale(1, 1);
      }
    }
  }
  .profile {
    text-align: center;

    &.success .avatar {
      border-color: $color-success;
    }
    &.warning .avatar {
      border-color: $color-warning;
    }
    .avatar {
      display: inline-block;
      width: 120px;
      border: 5px solid transparent;
      @include scale(0.95, 0.95);
      @include transition(transform 300ms ease-in-out);
    }
    h3 {
      color: $color-notice;
      font-size: 24px;
      font-weight: 300;
    }
  }
  .stats {
    opacity: 0;
    @include transition(opacity 400ms ease-in-out 400ms);

    small {
      display: block;
      font-size: 11px;
      color: #B7B2B2;
    }
    .recent,
    .avarage {
      overflow: hidden;
      margin: 0 5px;
      font-size: 40px;
      text-align: center;
    }
    .recent {
      float: left;
    }
    .avarage {
      float: right;
    }
  }
  .graph {
    overflow: hidden;
    float: left;
    width: 100%;
    margin: 30px 0 20px;

    small {
      color: black;
      margin-bottom: 10px;
    }
    .bar {
      overflow: hidden;
      width: 100%;
      height: 6px;
      border-radius: 6px;
      background-color: #1D6683;
    }
    .bar-inner {
      width: 0;
      @include transition(width 600ms ease-in-out 900ms);
    }
    .bar-inner {
      display: block;
      height: 6px;
      background-color: $color-notice;
    }
  }
  footer {
    opacity: 0;
    overflow: hidden;
    float: left;
    @include transition(opacity 400ms ease-in-out 700ms);

    a {
      display: block;
      color: #B7B2B2;
      font-size: 14px;
      text-decoration: none;
      margin: 10px 0;
      @include transition(color 200ms ease-in-out);

      &:hover {
        color: $color-notice;
      }
    }
    .icon {
      width: 18px;
      margin-right: 10px;
    }
  }
}